{% extends 'processlog/layout.html' %}
{% load static %}

{% block body %}
<!-- Search Form -->
<form id="searchForm" class="mb-4">
    <div class="row g-3 justify-content-center">
        <div class="col-md-6">
            <input type="text" class="form-control search-bar" placeholder="やりたい作業を入力" name="search_query" id="searchInput">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100 search-button">検索</button>
        </div>
    </div>
</form>

<!-- Search Results -->
<div id="searchResults" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"></div>

<!-- 案件 Form (in a card) -->
<div id="案件Card" class="card mt-4" style="display: none;">
    <div class="card-header result-header text-white">
        <h5 class="card-title">案件の詳細</h5>
    </div>
    <div class="card-body">
        <div id="案件Form"></div> <!-- 案件 form will be dynamically inserted here -->
    </div>
</div>

<!-- Common Select Button -->
<div class="d-flex justify-content-center mt-3">
    <button id="commonSelectButton" class="btn btn-primary" style="display: none;">選択</button>
</div>



<!-- Question and Template Container -->
<div class="row">
  <!-- Question Form (in a card, left side) -->
  <div id="questionCard" class="col-md-6 card mt-4" style="display: none;">
    <div class="card-header result-header text-white">
      <h5 class="card-title">操作項目について質問</h5>
    </div>
    <div class="card-body">
      <div id="questionForm"></div>
    </div>
  </div>

  <!-- Template Display (right side) -->
  <div id="templateDisplay" class="col-md-6 mt-4"></div>
</div>




{% endblock %}

{% block extra_js %}
<script src="{% static 'processlog/js/main.js' %}"></script>
{% endblock %}
